.home {
  width: 100%;

  .homeContainer {

    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
      color: #c6c6c6;
    }

    .charts {
      padding: 0px 20px;
      margin-bottom: 20px;
      justify-content: space-around;
    }
  }
}
