.navbar {
  height: 70px;
  border-bottom: 0.5px solid #eee;
  font-size: 14px;
  color: #555;
  .wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;

      input {
        border: none;
        outline: none;
        background: transparent;

        &::placeholder {
          font-size: 13px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;

        .icon {
          font-size: 20px;
        }

        .counter {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 15px;
          width: 15px;
          background-color: red;
          border-radius: 50%;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          right: -5px;
          top: -5px;
          color: white;
        }
      }
    }
  }
}
